body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
}

#sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    border-right: 1px solid #ddd;
}

#sidebar h2 {
    margin-top: 0;
}

#node-list {
    margin-top: 20px;
}

.node {
    background-color: #ddd;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

#node1 {
    background-color: #45a049;
}

#node2 {
    background-color: aqua;
}

#node3 {
    background-color: yellow;
}

#canvas {
    flex-grow: 1;
    background-color: #eaeaea;
    position: relative;
    padding: 20px;
}

#export-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#export-btn:hover {
    background-color: #45a049;
}